<div id="about-nav" data-offset-top="10">
	<ul class="nav nav-pills">
	  <li class="active"><a href="#about-info">About</a></li>
	  <li><a href="#why">Why Use Icon Arrays?</a></li>
	 	<li><a href="#sponsorship">Sponsorship</a></li>
	</ul>
</div>

<div class="page-content" id="about-info">
	<h2>About</h2>

	<div id="bzf-image">
		<%=image_tag 'bzf_200.jpg', :alt => 'Brian J. Zikmund-Fisher, PhD', :class => 'pull-right' %>
	</div>

	<p><em>Iconarray.com</em> is a project of <strong><%=link_to 'Brian J. Zikmund-Fisher, PhD', 'http://www.sph.umich.edu/iscr/faculty/profile.cfm?uniqname=bzikmund', {:target => '_blank'}%></strong>, a decision psychologist and public health communications researcher who holds appointments as an Assistant Professor of Health Behavior and Health Education and Research Assistant Professor of Internal Medicine at the University of Michigan. Dr. Zikmund-Fisher also directs the Internet Survey lab at the UM <%=link_to 'Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'}%> and is a core faculty member of the <%=link_to 'UM Risk Science Center', 'http://www.sph.umich.edu/riskcenter/', {:target => '_blank'} %>.</p>

	<p>Dr. Zikmund-Fisher uses his interdisciplinary background in decision psychology and behavioral economics to study factors that affect individual decision-making about a variety of health and medical issues. His research in health communications has involved the use of iterative experiments to develop and test methods for making risk statistics and other types of quantitative health information meaningful and useful for decision making by patients and the public. He has also researched the measurement of individual numeracy (people's ability to interpret quantitative health information) and the effects of low numeracy on people’s ability to understand risk. Other past research projects have included the <%=link_to 'National Survey of Medical Decisions (the DECISIONS study)', 'http://mdm.sagepub.com/content/30/5_suppl', {:target => '_blank'} %> and the National Institute for Environmental Health Sciences (NIEHS)-funded <%=link_to 'Community Perceptions of Dioxins (CPOD)', 'http://www.sph.umich.edu/CPOD/', {:target => '_blank'} %> Study that has used a mental models approach to examine how community residents are or are not able to interpret quantitative exposure information provided as part of exposure assessment studies. He also serves as an Associate Editor for the journal <em><%=link_to 'Medical Decision Making', 'http://mdm.sagepub.com/', {:target => '_blank'} %></em>.</p>

	<br /><br />

	<div id="how-image">
		<%=image_tag 'how_200.jpg', :alt => 'Holly O. Witteman, PhD', :class => 'pull-right' %>
	</div>

	<p>Development of clinician applications of <em>Iconarray.com</em> is being led by <%=link_to 'Holly O. Witteman, PhD', 'http://www.fmed.ulaval.ca/site_fac/faculte/direction/decanat-vice-decanats-et-directions/vice-decanat-a-la-pedagogie-et-au-developpement-professionnel-continu/holly-witteman/', {:target => '_blank'} %>. Dr. Witteman is a human factors engineer who completed a postdoctoral fellowship at the <%=link_to 'Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'} %> at the University of Michigan, 2009-2011, and worked closely with Dr. Zikmund-Fisher on the design and development of Iconarray.com. She is currently an Assistant Professor of Medicine in the Office of Education and Continuing Professional Education and the Department of Family and Emergency Medicine in the Faculty of Health Sciences at Université Laval in Quebec City, Canada, and is also affiliated with the research center of the <%=link_to 'CHU de Québec', 'http://www2.chudequebec.ca/', {:target => '_blank'} %>, a large health care services network comprised of five teaching hospitals and four affiliated health care centers.</p>

	<p>Dr. Witteman brings interdisciplinary training in mathematics, human factors engineering and social sciences to the study of technologies for risk communication and values clarification. She advocates reality-based design, which means designing for the way people are, not the way we wish they were. Her research addresses how people use online applications when making health decisions, how technologies can make risk numbers more meaningful for people, how tools might be designed and used to help clinicians and patients better understand and talk about risks and values, and how to better design these tools in ways that improve the user experience.</p>
	
	<br /><br />

	<p>The following people provided substantial input into the design of iconarray.com or the earlier CBSSM pictograph generator:</p>
	
	<ul>
		<li>Mark Dickson, MA (current lead developer)</li>
		<li>Nicole L. Exe, MPH</li>
		<li>Valerie Kahn, MPH</li>
		<li>James Rampton, MPH/MSI candidate</li>
		<li>Bob Burbach, BA</li>
		<li>Jon Kulpa, BA/BS</li>
	</ul>
</div>	

<div class="page-content" id="why">
	<%=image_tag 'http://www.iconarray.com/assets/icon-array-example.jpg', :alt => 'icon array', :id => 'why-icon-array', :class => 'pull-right' %>
	<h2>Why Use Icon Arrays</h2>
	<p>Twenty years ago, a psychological study compared for the first time rudimentary icon displays for communicating risk. Today, we have dozens of randomized experiments to support the use of icon arrays (sometimes referred to as “pictographs”) as an evidence-based standard in medical risk communication.</p>

	<p>Icon arrays use a matrix of icons (usually 100 or 1000 icons) to represent an at-risk population, simultaneously displaying both the number of expected events and the number of expected non-events. As a result, icon arrays have several advantages over simple numerical displays and other types of visual displays.</p>

	<ol>
		<li>Icon arrays can be read simply by counting icons. This enables icon arrays to be more precisely read than bar or pie charts. Recent research suggests that counting icons is particularly common among more numerate readers.</li>
		<li>Icon arrays show the part-whole relationship clearly in both relative count and relative area, thus embodying one of the advantages of pie charts and providing a significant advantage over bar charts and numerical representations.</li>
		<li>Icon arrays are inherently a frequency-based representation of risk. Research by Gigerenzer, Peters and others has shown that many people, especially the less numerate, respond differently to frequency representations of risk than they do to percentages.</li>
		<li>The icon arrays generated by Iconarray.com build the icons representing risk events from the bottom upwards by rows. As a result, these icon arrays have a rough height cue as well (displays of larger risks have colored icons rising higher than displays of lower risks), thus mirroring bar graphs in format as well.</li>
	</ol>

	<p>UM researchers have published multiple articles demonstrating that icon arrays (“pictographs”) are more effective than bar or pie charts at communicating risk and reducing cognitive biases in risk perceptions. These studies have all presented identical risk information in different visual formats and tested not only people’s understanding of the exact numbers (“verbatim” knowledge) but also their “gist” understanding, since these more conceptual understandings can have significant influence on decision making. For example, earlier research had showed that presenting equal numbers of patient testimonials describing good and bad outcomes could make many people think that these outcomes are equally likely even when risk statistics were provided that stated otherwise. However, we showed that supplementing the risk statistics with a pictograph counteracted this effect.</p>
	<br />
	<p>But we are not alone in recommending icon arrays. Below is an abbreviated bibliography of just some of the research studies that we are aware of that support the use of icon arrays to communicate risk statistics.</p>

	<ol>
		<li><%=link_to 'Fagerlin A, Wang C, Ubel PA. Reducing the influence of anecdotal reasoning on people’s health care decisions: Is a picture worth a thousand statistics? Med. Decis. Making. 2005;25(4):398–405.', 'http://mdm.sagepub.com/content/25/4/398.abstract', {:target => '_blank'}%></li>
		<li><%=link_to 'Waters EA, Weinstein ND, Colditz GA, Emmons KM. Reducing aversion to side effects in preventive medical treatment decisions. J. Exp. Psychol. Appl. 2007 Mar;13(1):11–21.', 'http://psycnet.apa.org/journals/xap/13/1/11/', {:target => '_blank'}%> </li>
		<li><%=link_to 'Price M, Cameron R, Butow P. Communicating risk information: the influence of graphical display format on quantitative information perception-Accuracy, comprehension and preferences. Patient Educ. Couns. 2007 Dec;69(1-3):121–8.', 'http://www.pec-journal.com/article/S0738-3991%2807%2900311-4/abstract', {:target => '_blank'}%> </li>
		<li><%=link_to 'Zikmund-Fisher BJ, Fagerlin A, Ubel PA. Improving understanding of adjuvant therapy options by using simpler risk graphics. Cancer. 2008;113(12):3382–90.', 'http://onlinelibrary.wiley.com/doi/10.1002/cncr.23959/full', {:target => '_blank'}%> </li>
		<li><%=link_to 'Zikmund-Fisher BJ, Ubel PA, Smith DM, Derry HA, McClure JB, Stark A, et al. Communicating side effect risks in a tamoxifen prophylaxis decision aid: The debiasing influence of pictographs. Patient Educ. Couns. 2008;73(2):209–14.', 'http://www.pec-journal.com/article/S0738-3991%2808%2900254-1/abstract', {:target => '_blank'}%> </li>
		<li><%=link_to 'Hawley ST, Zikmund-Fisher BJ, Ubel PA, Jankovic A, Lucas T, Fagerlin A. The impact of the format of graphical presentation on health-related knowledge and treatment choices. Patient Educ. Couns. 2008;73(3):448–55.', 'http://www.pec-journal.com/article/S0738-3991%2808%2900343-1/abstract', {:target => '_blank'}%> </li>
		<li><%=link_to 'Galesic M, Garcia-Retamero R, Gigerenzer G. Using icon arrays to communicate medical risks: overcoming low numeracy. Health Psychol. 2009 Mar;28(2):210–6.', 'http://psycnet.apa.org/journals/hea/28/2/210/', {:target => '_blank'}%> </li>
		<li><%=link_to 'Garcia-Retamero R, Galesic M. Communicating treatment risk reduction to people with low numeracy skills: a cross-cultural comparison. Am. J. Public Health. 2009 Dec;99(12):2196–202.', 'http://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2009.160234', {:target => '_blank'}%> </li>
		<li><%=link_to 'Zikmund-Fisher BJ, Fagerlin A, Ubel PA. A demonstration of “less can be more” in risk graphics. Med. Decis. Making. 2010;30(6):661–71.', 'http://mdm.sagepub.com/content/30/6/661.short', {:target => '_blank'}%> </li>
		<li><%=link_to 'Garcia-Retamero R, Galesic M. Who profits from visual aids: Overcoming challenges in people’s understanding of risks. Soc. Sci. Med. 2010;70(7):1019–25.', 'http://www.sciencedirect.com/science/article/pii/S027795361000002X', {:target => '_blank'}%> </li>
		<li><%=link_to 'Garcia-Retamero R, Dhami MK. Pictures speak louder than numbers: on communicating medical risks to immigrants with limited non-native language proficiency. Health Expect. 2011 Mar;14 Suppl 1:46–57.', 'http://onlinelibrary.wiley.com/doi/10.1111/j.1369-7625.2011.00670.x/abstract?userIsAuthenticated=false&deniedAccessCustomisedMessage=', {:target => '_blank'}%> </li>
		<li><%=link_to 'Hess R, Visschers VHM, Siegrist M. Risk communication with pictographs: The role of numeracy and graph processing. Judgm. Decis. Mak. 2011;6(3):263–74.', 'http://www.mendeley.com/research/risk-communication-pictographs-role-numeracy-graph-processing/', {:target => '_blank'}%></li>
	</ol>
</div>

<div class="page-content" id="sponsorship">
	<h3>Sponsorship</h3>
	<p>The development and hosting of <em>Iconarray.com</em> has been sponsored by the <%=link_to 'University of Michigan Risk Science Center', 'http://www.sph.umich.edu/riskcenter/', {:target => '_blank'} %> and the <%=link_to 'UM Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'}%>.</p>

	<p>The <%=link_to 'UM Risk Science Center (UMRSC)', 'http://www.sph.umich.edu/riskcenter/', {:target => '_blank'} %> is an interdisciplinary research center based in the <%=link_to 'UM School of Public Health', 'http://www.sph.umich.edu/', {:target => '_blank'} %> dedicated to supporting science-informed decision-making on existing and emerging human health risks. Drawing on expertise spanning public health, risk assessment, medicine, business, engineering, public policy, social research, economics and communication, the Center brings a unique and integrative approach to the increasingly complex challenges of addressing health risks associated with technological, social and economic change. The UMRSC’s Director (<%=link_to 'Dr. Andrew Maynard', 'http://www.sph.umich.edu/iscr/faculty/profile.cfm?uniqname=maynarda', {:target => '_blank'} %>) is the only endowed chair in Risk Science in the US. Dr. Zikmund-Fisher directs the UMRSC-funded Risk Communication Focus Initiative and draws upon its researchers’ experience in communicating complex data about health risks to the public.</p>

	<p>The <%=link_to 'UM Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'}%> is a joint program through the <%=link_to 'University of Michigan School of Medicine', 'http://www.med.umich.edu/medschool/', {:target => '_blank'} %> and the <%=link_to 'Ann Arbor Veterans Affairs Center for Clinical Management Research', 'http://www.annarbor.hsrd.research.va.gov/ANNARBORHSRDRESEARCH/CCMRInformation.asp', {:target => '_blank'} %> that is part of the new <%=link_to 'UM Institute for Health Policy and Innovation (IHPI)', 'http://ihpi.umich.edu/', {:target => '_blank'} %>. Members of the center (numbering approximately 30 faculty) include physicians with varying clinical specialties (i.e., general internists, neurology, radiation oncology, gastroenterology, psychiatry), decision scientists, public health experts, and bioethicists. CBSSM acts as a research “home” for anyone interested in applying empirical social science methods to improve medical care and thus truly embodies the concept of an interdisciplinary environment that is more than the sum of its parts.  Dr. Zikmund-Fisher directs the CBSSM Internet Survey Lab, which has conducted dozens of experimental tests of risk communication methods, patient decision support materials, and  web-based methods.</p>
</div>

<div class="page-content" id="sponsorship">
	<h3>Disclaimer</h3>
	<p>The <em>Iconarray.com</em> site is a demonstration project and is provided “as-is” with no guarantees of service. While we have attempted to test a variety of parameters, it is likely that certain combinations will result in non-optimal graphics and/or failures. Groups considering using embedded icon arrays for high volume applications, such as web-based surveys or decision aids, should contact <%=mail_to 'bzikmund@umich.edu', 'Dr. Zikmund-Fisher' %> for information regarding custom and/or large-scale implementations or to obtain the source code and implement it locally (under Creative Commons License and appropriate attribution).</p>
</div>