<div class="page-content" id="about">
	<h2>About</h2>

	<div id="about-image">
		<%=image_tag 'bzf_200.jpg', :alt => 'Brian J. Zikmund-Fisher, PhD' %>
	</div>

	<p><em>Iconarray.com</em> is a project of <strong><%=link_to 'Brian J. Zikmund-Fisher, PhD', 'http://www.sph.umich.edu/iscr/faculty/profile.cfm?uniqname=bzikmund', {:target => '_blank'}%></strong>, a decision psychologist and public health communications researcher who holds appointments as an Assistant Professor of Health Behavior and Health Education and Research Assistant Professor of Internal Medicine at the University of Michigan. Dr. Zikmund-Fisher also directs the Internet Survey lab at the UM <%=link_to 'Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'}%> and is a core faculty member of the <%=link_to 'UM Risk Science Center', 'http://www.sph.umich.edu/riskcenter/', {:target => '_blank'} %>.</p>

	<p>Dr. Zikmund-Fisher uses his interdisciplinary background in decision psychology and behavioral economics to study factors that affect individual decision-making about a variety of health and medical issues. His research in health communications has involved the use of iterative experiments to develop and test methods for making risk statistics and other types of quantitative health information meaningful and useful for decision making by patients and the public. He has also researched the measurement of individual numeracy (people's ability to interpret quantitative health information) and the effects of low numeracy on people’s ability to understand risk. Other past research projects have included the <%=link_to 'National Survey of Medical Decisions (the DECISIONS study)', 'http://mdm.sagepub.com/content/30/5_suppl', {:target => '_blank'} %> and the National Institute for Environmental Health Sciences (NIEHS)-funded <%=link_to 'Community Perceptions of Dioxins (CPOD)', 'http://www.sph.umich.edu/CPOD/', {:target => '_blank'} %> Study that has used a mental models approach to examine how community residents are or are not able to interpret quantitative exposure information provided as part of exposure assessment studies. He also serves as an Associate Editor for the journal <em><%=link_to 'Medical Decision Making', 'http://mdm.sagepub.com/', {:target => '_blank'} %></em>.</p>
	
	<p>The following people provided substantial input into the design of iconarray.com or the earlier CBSSM pictograph generator:</p>
	
	<ul>
		<li>Mark Dickson, MA</li>
		<li>Holly O. Witteman, Ph.D.</li>
		<li>Nicole L. Exe, MPH</li>
		<li>Valerie Kahn, MPH</li>
		<li>James Rampton, MPH candidate</li>
		<li>Bob Burbach, BA</li>
		<li>Jon Kulpa, BA/BS</li>
	</ul>
	
	<h3>Sponsorship</h3>
	<p>The development and hosting of <em>Iconarray.com</em> has been sponsored by the <%=link_to 'University of Michigan Risk Science Center', 'http://www.sph.umich.edu/riskcenter/', {:target => '_blank'} %> and the <%=link_to 'UM Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'}%>.</p>

	<p>The <%=link_to 'UM Risk Science Center (UMRSC)', 'http://www.sph.umich.edu/riskcenter/', {:target => '_blank'} %> is an interdisciplinary research center based in the <%=link_to 'UM School of Public Health', 'http://www.sph.umich.edu/', {:target => '_blank'} %> dedicated to supporting science-informed decision-making on existing and emerging human health risks. Drawing on expertise spanning public health, risk assessment, medicine, business, engineering, public policy, social research, economics and communication, the Center brings a unique and integrative approach to the increasingly complex challenges of addressing health risks associated with technological, social and economic change. The UMRSC’s Director (<%=link_to 'Dr. Andrew Maynard', 'http://www.sph.umich.edu/iscr/faculty/profile.cfm?uniqname=maynarda', {:target => '_blank'} %>) is the only endowed chair in Risk Science in the US. Dr. Zikmund-Fisher directs the UMRSC-funded Risk Communication Focus Initiative and draws upon its researchers’ experience in communicating complex data about health risks to the public.</p>

	<p>The <%=link_to 'UM Center for Bioethics and Social Sciences in Medicine (CBSSM)', 'http://www.cbssm.org', {:target => '_blank'}%> is a joint program through the <%=link_to 'University of Michigan School of Medicine', 'http://www.med.umich.edu/medschool/', {:target => '_blank'} %> and the <%=link_to 'Ann Arbor Veterans Affairs Center for Clinical Management Research', 'http://www.annarbor.hsrd.research.va.gov/ANNARBORHSRDRESEARCH/CCMRInformation.asp', {:target => '_blank'} %> that is part of the new <%=link_to 'UM Institute for Health Policy and Innovation (IHPI)', 'http://ihpi.umich.edu/', {:target => '_blank'} %>. Members of the center (numbering approximately 30 faculty) include physicians with varying clinical specialties (i.e., general internists, neurology, radiation oncology, gastroenterology, psychiatry), decision scientists, public health experts, and bioethicists. CBSSM acts as a research “home” for anyone interested in applying empirical social science methods to improve medical care and thus truly embodies the concept of an interdisciplinary environment that is more than the sum of its parts.  Dr. Zikmund-Fisher directs the CBSSM Internet Survey Lab, which has conducted dozens of experimental tests of risk communication methods, patient decision support materials, and  web-based methods.</p>

	<h3>Disclaimer</h3>
	<p>The <em>Iconarray.com</em> site is a demonstration project and is provided “as-is” with no guarantees of service. While we have attempted to test a variety of parameters, it is likely that certain combinations will result in non-optimal graphics and/or failures. Groups considering using embedded icon arrays for high volume applications, such as web-based surveys or decision aids, should contact <%=mail_to 'bzikmund@umich.edu', 'Dr. Zikmund-Fisher' %> for information regarding custom and/or large-scale implementations or to obtain the source code and implement it locally (under Creative Commons License and appropriate attribution).</p>
</div>