<div class="page-content" id="citation">

	<h3>Citation</h3>
	<p>Graphics created by <%=link_to 'iconarray.com', '/' %> are provided free of charge for all academic and non-commercial uses. We ask that images used in academic works be cited as follows:</p>

	<blockquote>Images created by Iconarray.com. Risk Science Center and Center for Bioethics and Social Sciences in Medicine, University of Michigan. Accessed <%=Date.today%>.</blockquote>

	<h3>Attribution</h3>
	<p>If your site accesses graphics hosted directly on <%=link_to 'iconarray.com', '/' %>, attribution should be as follows:</p>

	<blockquote>Icon arrays generated using http://www.iconarray.com.</blockquote>	

	<h3>Modification</h3>
	<p>Icon array code is freely available on <%=link_to 'GitHub', "https://github.com/cbdsm/icon-array", {:target => "_blank"} %> under a <%= link_to "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License", "http://creativecommons.org/licenses/by-nc-sa/4.0/legalcode", {:target => "_blank"} %></p>

	<p>Sites using any part of Icon Array code should be attributed as follows:</p>

	<blockquote>Icon arrays generated using code made available by http://www.iconarray.com</blockquote>	
</div>