<h2>Examples</h2>
<ul id="examples">
	<li>
		<%=link_to image_tag('examples/icon-array-standard-incremental.jpeg'), "/pictographs/view?axis_font=Arial&axis_font_size=12&axis_labels=1&axis_position=left&cell_height=40&cell_spacing=5&cell_width=22&cols=10&icon=&legend_font=Arial&legend_font_size=12&risks_attributes%5B0%5D%5Bdescription%5D=out+of+100+people+don%27t+exhibit+this+property&risks_attributes%5B0%5D%5Bdisplay%5D=0&risks_attributes%5B0%5D%5Bhex%5D=%23DCDCDC&risks_attributes%5B1%5D%5Bdescription%5D=out+of+100+people+exhibit+this+property&risks_attributes%5B1%5D%5Bdisplay%5D=0&risks_attributes%5B1%5D%5Bhex%5D=%2364BEFF&risks_attributes%5B1%5D%5Bvalue%5D=12.0&risks_attributes%5B2%5D%5B_destroy%5D=0&risks_attributes%5B2%5D%5Bdescription%5D=&risks_attributes%5B2%5D%5Bdisplay%5D=0&risks_attributes%5B2%5D%5Bhex%5D=%230000FF&risks_attributes%5B2%5D%5Bvalue%5D=4.0&rows=10&title=&title_alignment=left&title_font=Helvetica&title_font_size=18" %>
		<div class="example-info muted">
			<h4>Incremental Risk</h4>
			<p>Use different colors to show the part of a risk that is caused by an intervention vs. existing at baseline.</p>
		</div>
	</li>
	
	<li>
		<%=link_to image_tag('examples/icon-array-bathroom.jpeg'), "/pictographs/view?axis_font=Arial&axis_font_size=12&axis_labels=0&axis_position=left&cell_height=40&cell_spacing=5&cell_width=22&cols=10&icon=http%3A%2F%2Fstaging.iconarray.com%2Fimages%2Ficons%2Fmale.png&legend_font=Arial&legend_font_size=12&risks_attributes%5B0%5D%5Bdescription%5D=out+of+100+people+don%27t+exhibit+this+property&risks_attributes%5B0%5D%5Bdisplay%5D=0&risks_attributes%5B0%5D%5Bhex%5D=%23DCDCDC&risks_attributes%5B1%5D%5Bdescription%5D=out+of+100+people+exhibit+this+property&risks_attributes%5B1%5D%5Bdisplay%5D=0&risks_attributes%5B1%5D%5Bhex%5D=%239826E3&risks_attributes%5B1%5D%5Bvalue%5D=6&rows=10&title=&title_alignment=left&title_font=Helvetica&title_font_size=18" %>
		<div class="example-info muted">
			<h4>Person Icons</h4>
			<p>Person-like icons may evoke stronger recognition that small risk are still significant to the individual people who are affected.</p>
		</div>
	</li>
	
	<li>
		<%=link_to image_tag('examples/icon-array-ovals.jpeg'), "/pictographs/view?axis_font=Arial&axis_font_size=12&axis_labels=0&axis_position=left&cell_height=40&cell_spacing=15&cell_width=35&cols=10&icon=http%3A%2F%2Fstaging.iconarray.com%2Fimages%2Ficons%2Foval.png&legend_font=Arial&legend_font_size=12&risks_attributes%5B0%5D%5Bdescription%5D=out+of+100+people+don%27t+exhibit+this+property&risks_attributes%5B0%5D%5Bdisplay%5D=0&risks_attributes%5B0%5D%5Bhex%5D=%23DCDCDC&risks_attributes%5B1%5D%5Bdescription%5D=out+of+100+people+exhibit+this+property&risks_attributes%5B1%5D%5Bdisplay%5D=0&risks_attributes%5B1%5D%5Bhex%5D=%23ff5900&risks_attributes%5B1%5D%5Bvalue%5D=20.0&risks_attributes%5B2%5D%5B_destroy%5D=0&risks_attributes%5B2%5D%5Bdescription%5D=&risks_attributes%5B2%5D%5Bdisplay%5D=0&risks_attributes%5B2%5D%5Bhex%5D=%23614102&risks_attributes%5B2%5D%5Bvalue%5D=40.0&rows=10&title=&title_alignment=left&title_font=Helvetica&title_font_size=18" %>
		<div class="example-info muted">
			<h4>Ovals in Larger Grid</h4>
			<p>Research suggests that highly numerate people count icons when they look at icon arrays, and displays that separate each icon may make that process easier.</p>
		</div>
	</li>
	
	<li>
		<%=link_to image_tag('examples/icon-array-horizontal.jpeg'), "/pictographs/view?axis_font=Arial&axis_font_size=12&axis_labels=0&axis_position=left&cell_height=40&cell_spacing=5&cell_width=22&cols=20&icon=http%3A%2F%2Fstaging.iconarray.com%2Fimages%2Ficons%2Ffemale.png&legend_font=Arial&legend_font_size=12&risks_attributes%5B0%5D%5Bdescription%5D=out+of+100+people+don%27t+exhibit+this+property&risks_attributes%5B0%5D%5Bdisplay%5D=0&risks_attributes%5B0%5D%5Bhex%5D=%23DCDCDC&risks_attributes%5B1%5D%5Bdescription%5D=out+of+100+people+exhibit+this+property&risks_attributes%5B1%5D%5Bdisplay%5D=0&risks_attributes%5B1%5D%5Bhex%5D=%231b7a27&risks_attributes%5B1%5D%5Bvalue%5D=25&rows=5&title=&title_alignment=left&title_font=Helvetica&title_font_size=18" %>
		<div class="example-info muted">
			<h4>20 x 5 Grid</h4>
			<p>Icon arrays aren't limited to 10 x 10 layouts. Sometimes it may be useful to lay out icon arrays in different dimensions.</p>
		</div>
	</li>
	<br clear="left" />
	<li id="adjuvant">
		<%=link_to image_tag('examples/icon-array-adjuvant.jpeg'), "/pictographs/view?axis_font=Arial&axis_font_size=12&axis_labels=1&axis_position=left&cell_height=40&cell_spacing=5&cell_width=22&cols=10&icon=&legend_font=Arial&legend_font_size=12&risks_attributes%5B0%5D%5Bdescription%5D=out+of+100+people+don%27t+exhibit+this+property&risks_attributes%5B0%5D%5Bdisplay%5D=0&risks_attributes%5B0%5D%5Bhex%5D=%23DCDCDC&risks_attributes%5B1%5D%5Bdescription%5D=out+of+100+women+are+alive+in+10+years+.&risks_attributes%5B1%5D%5Bdisplay%5D=1&risks_attributes%5B1%5D%5Bhex%5D=%230d7a0d&risks_attributes%5B1%5D%5Bvalue%5D=67.0&risks_attributes%5B2%5D%5B_destroy%5D=0&risks_attributes%5B2%5D%5Bdescription%5D=more+women+out+of+100+are+alive+due+to+additional+therapy.&risks_attributes%5B2%5D%5Bdisplay%5D=1&risks_attributes%5B2%5D%5Bhex%5D=%23f4fc17&risks_attributes%5B2%5D%5Bvalue%5D=5.0&risks_attributes%5B3%5D%5B_destroy%5D=0&risks_attributes%5B3%5D%5Bdescription%5D=out+of+100+women+die+because+of+cancer.&risks_attributes%5B3%5D%5Bdisplay%5D=1&risks_attributes%5B3%5D%5Bhex%5D=%23b51f1f&risks_attributes%5B3%5D%5Bvalue%5D=20.0&risks_attributes%5B4%5D%5B_destroy%5D=0&risks_attributes%5B4%5D%5Bdescription%5D=out+of+100+women+die+because+of+other+causes.&risks_attributes%5B4%5D%5Bdisplay%5D=1&risks_attributes%5B4%5D%5Bhex%5D=%232014a0&risks_attributes%5B4%5D%5Bvalue%5D=8.0&rows=10&title=Chemotherapy+and+Hormonal+Therapy&title_alignment=left&title_font=Helvetica&title_font_size=18" %>
		<div class="example-info muted">
			<h4>Show Multiple Outcomes (If Required)</h4>
			<p>This display is adapted from the decision support tool AdjuvantOnline and shows survival outcomes for women with certain types of breast cancer who chose to have chemotherapy and hormonal therapy to prevent breast cancer. While icon arrays can show 4 or more outcomes at once, <%=link_to "our research", 'http://www.ncbi.nlm.nih.gov/pubmed/20375419', {:target => '_blank'} %> suggests that sometimes simpler 1-2 outcome displays are better understood.</p>
		</div>
	</li>
	
</ul>