<%= form_for(@pictograph, :html => {:class => '.form-horizontal', :multipart => true}) do |f| %>
  <% if @pictograph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pictograph.errors.count, "error") %> prohibited this pictograph from being saved:</h2>

      <ul>
      <% @pictograph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %> 
		<%= f.text_field :title %>
  </div>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#risk" data-toggle="tab">Risk</a></li>
		<li><a href="#colors" data-toggle="tab">Colors</a></li>
		<li><a href="#icons" data-toggle="tab">Icons</a></li>
		<li><a href="#fine-tuning" data-toggle="tab">Fine-tuning</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="risk">
		  <div class="field">
		    <%= f.label :risk %>
		    <%= f.number_field :risk, {:class => 'span1'} %>
		  </div>
		  <div class="field">
		    <%= f.label :incremental_risk %>
		    <%= f.number_field :incremental_risk, {:class => 'span1'} %>
		  </div>
		  <div class="field">
		    <%= f.label :reduced_risk %>
		    <%= f.number_field :reduced_risk, {:class => 'span1'} %>
		  </div>
		</div>
	
		<div class="tab-pane" id="colors">
		  <div class="field">
		    <%= f.label :risk_color %>
		    <%= f.text_field :risk_color, {:class => 'color-field'} %>
		  </div>
		  <div class="field">
		    <%= f.label :incremental_risk_color %>
		    <%= f.text_field :incremental_risk_color, {:class => 'color-field'} %>
		  </div>
		  <div class="field">
		    <%= f.label :reduced_risk_color %>
		    <%= f.text_field :reduced_risk_color, {:class => 'color-field'} %>
		  </div>
		  <div class="field">
		    <%= f.label :off_color %>
		    <%= f.text_field :off_color, {:class => 'color-field'} %>
		  </div>
		</div>
	
		<div class="tab-pane" id="icons">
			<% for icon in %w[risk_icon off_icon incremental_risk_icon reduced_risk_icon] %>
				<% if @pictograph.send(icon).nil? %>
					<% @pictograph.send('build_' + icon) %> 
					<% img = '' %>
				<% else %>
					<% img = '<div class="field-icon">' + image_tag(@pictograph.send(icon).image.url(:default), :alt => @pictograph.send(icon).image_file_name) + '</div>' %>
				<% end %>
				<%= f.fields_for icon do |ri| %>
				  <div class="field">
						<%= img %>
				    <%= ri.label :image, icon.titleize %>
				    <%= ri.file_field :image %>
				  </div>
				<% end %>
	   <% end %>
		</div>
	
		<div class="tab-pane" id="fine-tuning">
		  <div class="field">
		    <%= f.label :cell_width %>
		    <%= f.number_field :cell_width, {:class => 'span1'} %>
		  </div>
		  <div class="field">
		    <%= f.label :cell_height %>
		    <%= f.number_field :cell_height, {:class => 'span1'} %>
		  </div>
		  <div class="field">
		    <%= f.label :cell_spacing %>
		    <%= f.number_field :cell_spacing, {:class => 'span1'} %>
		  </div>
		  <div class="field">
		    <%= f.label :cols %>
		    <%= f.number_field :cols, {:class => 'span1'} %>
		  </div>
		  <div class="field">
		    <%= f.label :rows %>
		    <%= f.number_field :rows, {:class => 'span1'} %>
		  </div>
		  <div class="field checkbox">
		    <%= f.check_box :axis_labels %> <%= f.label :axis_labels %> 
		  </div>
		  <div class="field radio">
		    <%= f.label :axis_position_left, 'left' %><%= f.radio_button :axis_position, 'left' %><br />
				<%= f.label :axis_position_right, 'right' %><%= f.radio_button :axis_position, 'right' %>
		  </div>
		  <div class="field">
		    <%= f.label :axis_font %>
		    <%= f.text_field :axis_font %>
		  </div>
		  <div class="field">
		    <%= f.label :axis_font_size %>
		    <%= f.number_field :axis_font_size, {:class => 'span1'} %>px
		  </div>
		  <div class="field">
		    <%= f.label :axis_width %>
		    <%= f.number_field :axis_width, {:class => 'span1'} %>px
		  </div>
		</div>
	</div><!-- End tab content -->
  <div class="actions">
    <%= f.submit "Save" %> <%= f.submit 'Preview' %>
  </div>
<% end %>
