<p id="notice"><%= notice %></p>

<%= form_for(@pictograph, :html => {:class => 'form-horizontal picto-form', :multipart => true}) do |f| %>
  <% if @pictograph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pictograph.errors.count, "error") %> prohibited this pictograph from being saved:</h2>

      <ul>
      <% @pictograph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 style="width: <%=@pictograph.table_width%>px; margin-left: <%=@pictograph.axis_width + 25 %>px;" id="pictograph-title">
		<%= f.text_field :title, {:placeholder => 'Click to edit title', :class => 'hide editor', :id => "pictograph_title"} %><%=link_to 'ok', "#", {:id => "pictograph_title_submit", :class => 'btn hide submittable'}%><%=link_to @pictograph.title || 'Click to edit title', "#pictograph_title", {:class => "editable"} %>
  </h3>

	<%= render 'graph' %>

	<div id="editor">
			<ul class="nav nav-tabs">
				<% @tab_risks = @pictograph.risks.clone %>
				<% @off_risk = @tab_risks.shift %>
				<% @tab_risks.each_with_index do |risk, i| %>
					<li class='<%="active" if i == 0 %> color-tab'><a href="#color<%=i + 1%>" data-toggle="tab" style="background-color: <%=risk.hex%>;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
				<% end %>
				<% if @advanced %>
					<li id="new-risk"><%=link_to '+', new_risk_path(:tab => @pictograph.risks.length), {:remote => true}%></li>
				<% end %>
				<li class='color-tab'><a href="#color0" data-toggle="tab" style="background-color: <%=@off_risk.hex%>;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
				<% if @advanced %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#finetuning">
			      fine-tuning
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
						<li><a href="#icons" data-toggle="tab">Use an icon</a></li>
			      <li><a href="#cells" data-toggle="tab">Cell size and spacing</a></li>
			      <li><a href="#axis" data-toggle="tab">Axis labels</a></li>
			      <li><a href="#title" data-toggle="tab">Title font, size, and alignment</a></li>
						<li><a href="#legend" data-toggle="tab">Legend font and size</a></li>
			    </ul>
				<% end %>
			</ul>

			<div class="tab-content">
				<% i = 0 %>	  
				<%= f.fields_for :risks do |r| %>
					<%= render '/risks/form', :r => r, :i => i %>
					<% i += 1 %>
				<% end %>


		<div class="tab-pane" id="icons">
			<fieldset id="icons">
				<legend>Icon</legend>
			  <div class="field">
			    <% for icon in Pictograph.icons %>
						<div class="tint" style="height: 45px;">
							<%=image_tag icon, :style => 'height:45px;' %>
							<%=image_tag icon.gsub('icons', 'icon_overlays'), :style => 'height:45px;', :class => 'overlay' %>
						</div>
					<% end %>
			  </div>
			</div>
			
			<div class="tab-pane" id="cells">
				<fieldset id="cells">
					<legend>Cells</legend>
				  <div class="field">
				    <%= f.label :cell_width %>
				    <%= f.number_field :cell_width, {:class => 'span1'} %>
				  </div>
				  <div class="field">
				    <%= f.label :cell_height %>
				    <%= f.number_field :cell_height, {:class => 'span1'} %>
				  </div>
				  <div class="field">
				    <%= f.label :cell_spacing %>
				    <%= f.number_field :cell_spacing, {:class => 'span1'} %>
				  </div>
				  <div class="field">
				    <%= f.label :cols %>
				    <%= f.number_field :cols, {:class => 'span1'} %>
				  </div>
				  <div class="field">
				    <%= f.label :rows %>
				    <%= f.number_field :rows, {:class => 'span1'} %>
				  </div>
				</fieldset>
			</div>
			
			<div class="tab-pane" id="axis">
				<fieldset id="axis">
					<legend>Axis</legend>
				  <div class="field checkbox">
				    <%= f.check_box :axis_labels %> <%= f.label :axis_labels %> 
				  </div>
				  <div class="field radio">
				    <%= f.label :axis_position_left, 'left' %><%= f.radio_button :axis_position, 'left' %><br />
						<%= f.label :axis_position_right, 'right' %><%= f.radio_button :axis_position, 'right' %>
				  </div>
				  <div class="field">
				    <%= f.label :axis_font %>
				    <%= f.text_field :axis_font %>
				  </div>
				  <div class="field">
				    <%= f.label :axis_font_size %>
				    <%= f.number_field :axis_font_size, {:class => 'span1'} %>px
				  </div>
				</fieldset>
			</div>
			
			<div class="tab-pane" id="title">
				<fieldset id="title">
					<legend>Title</legend>
				  <div class="field radio">
				    <%= f.label :title_alignment, 'alignment' %><br />
						<%= f.select :title_alignment, {:left => 'left', :center => 'center', :right => 'right'} %>
				  </div>
				  <div class="field">
				    <%= f.label :title_font %>
				    <%= f.text_field :title_font %>
				  </div>
				  <div class="field">
				    <%= f.label :title_font_size, 'Title font size' %>
				    <%= f.number_field :title_font_size, {:class => 'span1'} %>px
				  </div>
				</fieldset>
			</div>
			
			<div class="tab-pane" id="legend">
				<fieldset id="legend">
					<legend>Legend</legend>
				  <div class="field">
				    <%= f.label :legend_font %>
				    <%= f.text_field :legend_font %>
				  </div>
				  <div class="field">
				    <%= f.label :legend_font_size, 'Legend font size' %>
				    <%= f.number_field :legend_font_size, {:class => 'span1'} %>px
				  </div>
				</fieldset>
			</div>
			
			
		</div><!-- End tab content -->
		
		<p class="help hide" id="value-help">
		  Click on any square/icon in the array to set the number of risk events, or just set the number in the highlighted box.
		</p>
		<p class="help hide" id="off-help">
		  Click on the number in the highlighted yellow box to change the number of risk events.
		</p>
		
	</div>

	<br clear="left" />
	
  <div class="actions">
    <!-- <%= f.submit "Save" %>-->
		<%= image_submit_tag("icons-prev-02.png", :name => 'commit', :value => 'preview', :alt => 'preview this icon array') %>
		<%=link_to image_tag('icons-link-03.png', :alt => 'save as link'), '#save-share', {:title => 'save a link to this icon array'} %> 
		<%=link_to image_tag('icons-embed.png', :alt => 'embed'), '#embed', {:title => 'embed this icon array in another website'} %> 
		<div class="btn-group dropup">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="download this icon array as an image">
		    <%=image_tag('icons-download.png', :alt => 'download') %>
		  </a>
		  <ul class="dropdown-menu">
		    <li><%= image_submit_tag("icons-web.png", :name => 'commit', :value => 'export for web', :alt => "download this icon array as an image optimized for use on the web") %></li>
				<li><%= image_submit_tag("icons-print.png", :name => 'commit', :value => 'export for print', :alt => "download this icon array as an image optimized for use in a print document") %></li>
		  </ul>
		</div>
  </div>

	<div class="modal" id="save-share">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Save/Share this Icon Array</h3>
	  </div>
	  <div class="modal-body">
	    <p>Here is the URL <%=request.url%></p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" data-dismiss="modal" class="btn">Close</a>
	  </div>
	</div>
	
	<div class="modal" id="embed">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Embed this Icon Array</h3>
	  </div>
	  <div class="modal-body">
	    <p id="embed-code"></p>
	  </div>
	  <div class="modal-footer">
			<!-- <a href="#embed-code" class="zclip" data-copied-hint="copied!" data-copy-hint="copy to clipboard">Copy to Clipboard</a> -->
	  	<a href="#" data-dismiss="modal" class="btn">Close</a>
	  </div>
	</div>

<% end %>
