<table class='pictograph' style="border-spacing: <%=@pictograph.cell_spacing%>px; width: <%=@pictograph.table_width%>px;">
	<% row = Array.new %>
	<% all = Array.new %>
	<%# we always set the off color to 0 %>
	<% fill_index = 0 %>
	<% fill_risk = 0 %>
	<% current_fill_index = 0 %>
  <% for i in 1..100 %>
    <%
			val = fill_risk == 0 ? @pictograph.off_value : @pictograph.risks[fill_risk].value
			val.to_i if !val.is_a? Integer
		
			# increment if we've hit our mark
			if current_fill_index == val
				fill_index += 1
				fill_risk = @pictograph.risks.length - fill_index
				current_fill_index = 0
			end
			if @pictograph.risks[fill_risk].icon?
				fill_icon = @pictograph.risks[fill_risk].icon.url(:default) # NOTE: we may want to default to upload size
			else
				fill_color = @pictograph.risks[fill_risk].hex
				fill_icon = false
			end
			current_fill_index += 1
		%>

		<%
			if fill_icon
				# we should just default to whatever size they upload at--though this doesn't really work for print
				# maybe the resizing is just for previewing a print icon array?
				row << "<td id='cell#{100 - i + 1}' class='picto-cell fill#{fill_risk}' data-icon='#{fill_icon}'><img src=\'#{fill_icon}\' alt=\'risk #{fill_risk} icon\'></td>"
				# also, the fill class won't work with icons
			else
	    	row << "<td id='cell#{100 - i + 1}' style='background-color: #{fill_color}; width: #{@pictograph.cell_width}px; height: #{@pictograph.cell_height}px;' class='picto-cell fill#{fill_risk}' data-color='#{fill_color}'></td>"
			end
	    if i % 10 == 0
	      if @pictograph.axis_labels
	        axis_num = (100 - i) + 10
	        if @pictograph.axis_position == 'left'
	          row.push "<td class='picto-axis-label' style='text-align:right; width: #{@pictograph.axis_width}px;'><div style='font-size: #{@pictograph.axis_font_size}px; line-height: #{@pictograph.axis_line_height}px; margin-top: -#{@pictograph.axis_margin_top}px;'>#{axis_num} ---</div></td>"
	        else
	          row.shift "<td class='picto-axis-label' style='text-align:left; width: #{@pictograph.axis_width}px;'><div style='font-size: #{@pictograph.axis_font_size}px; line-height: #{@pictograph.axis_line_height}px; margin-top: -#{@pictograph.axis_margin_top}px;'> --- #{axis_num}</div></td>"
	        end
	      end
	      out = "<tr>#{row.reverse.join()}</tr>".html_safe
				row = Array.new
			else
				out = nil
	    end
		%>
		<%= out if out %>
	<% end %>

  <tr class='bottom-row'>
		<% if @pictograph.axis_labels %>
			<% if @pictograph.axis_position == 'left' %>
	    	<td class='picto-axis-label' style="text-align:right; width: <%=@pictograph.axis_width%>px;"><div style='font-size: <%=@pictograph.axis_font_size%>px; line-height: <%=@pictograph.axis_line_height%>px; margin-top: -<%=@pictograph.bottom_axis_margin_top%>px;'>0 ---</div></td>
	    <% else %>
	      <td class='picto-axis-label' style="text-align:left; width: <%=@pictograph.axis_width%>px;"><div style='font-size: <%=@pictograph.axis_font_size%>px; line-height: <%=@pictograph.axis_line_height%>px; margin-top: -<%=@pictograph.bottom_axis_margin_top%>px;'> --- 0</div></td>
	    <% end %>
		<% end %>
		<td colspan='10' class='legend'>&nbsp;</td>
	</tr>
</table>