<% if @pictograph.legend_position == 'below' %>
	<div id="legend" class="below" style="font-family: '<%=@pictograph.legend_font%>'; font-size: <%=@pictograph.legend_font_size%>px; width: <%=@pictograph.table_width%>px; margin-left: <%=@pictograph.axis_width * 5 / 3%>px;">
		<% @legend_width = @pictograph.table_width %>
<% else %>
	<div id="legend" class="right" style="font-family: '<%=@pictograph.legend_font%>'; font-size: <%=@pictograph.legend_font_size%>px; width: <%=@pictograph.legend_width%>px; margin-left: <%=@pictograph.cell_width * 2%>px;	margin-top: 25px; float: left;">
		<% @legend_width = @pictograph.legend_width %>
<% end %>
	<dl id="risk-legend">
		<% off = @pictograph.risks.shift
    @pictograph.risks.push(off) %>
		<% @pictograph.risks.each do |risk| %>
			<% if risk.display? %>
				<dt id="risky<%=risk.position%>" style="width: <%=@pictograph.scale_width + 20%>px;">
					<% if !@pictograph.icon.blank? %>
						<%=icon(@pictograph.icon, risk.hex, @pictograph.scale_height, @pictograph.scale_width)%>
					<% else %>
						<div class="legend-icon" id="test<%=risk.position%>" style="width: <%=@pictograph.cell_width%>px; height: <%=@pictograph.cell_height%>px; background-color: <%=risk.hex%>;" data-color="<%=risk.hex%>"></div>
					<% end %>
				</dt>
				<dd id="frisky<%=risk.position%>" style="width:<%=@legend_width - @pictograph.scale_width - 20%>px;">
					<% unless risk.value.blank? %>
						<span id="#risks_<%=risk.position%>_value" class="risk-val"><%= risk.value == risk.value.round ? risk.value.to_i : risk.value %></span>
					<% else%>
						<span id="#risks_<%=risk.position%>_value" class="risk-val"><%= @pictograph.off_value == @pictograph.off_value.round ? @pictograph.off_value.to_i : @pictograph.off_value.round(1) %></span>
					<% end %>
						<%= risk.population %> <%= risk.description %>
				</dd>
			<% end %>
		<% end %>
	</dl>
</div>