<p id="notice"><%= notice %></p>

<table class='pictograph' style="border-spacing: <%=@pictograph.cell_spacing%>px;">
  <tr class='top-row'><td>&nbsp;</td><td colspan='10' class='title'><%=@pictograph.title%></td></tr>
	<% row = Array.new %>
	<% all = Array.new %>
  <% for i in 1..100 %>
    <%
		if i <= @off 
			fill = 'off'
    else
      if @reduced_risk > 0
        fill = 'reduced_risk'
        @reduced_risk -= 1
      elsif @incremental_risk > 0
        fill = 'incremental_risk'
        @incremental_risk -= 1
      else
        fill = 'risk'
      end
    end
		%>

		<%
			if !@pictograph.risk_icon.blank?
				# we should just default to whatever size they upload at--though this doesn't really work for print
				# maybe the resizing is just for previewing a print icon array?
				row << "<td><img src=\'#{@pictograph.send(fill + '_icon').url(:default)}\' class='#{fill}'></td>"
				# also, the fill class won't work with icons
			else
	    	row << "<td style='background-color: #{@pictograph.send(fill + '_color')}; width: #{@pictograph.cell_width}px; height: #{@pictograph.cell_height}px;' class='#{fill}'></td>"
			end
	    if i % 10 == 0
	      if @pictograph.axis_labels
	        axis_num = (100 - i) + 10
	        if @pictograph.axis_position == 'left'
	          row.push "<td class='picto-axis-label'><div style='font-size: #{@pictograph.axis_font_size}px; line-height: #{@pictograph.axis_line_height}px; margin-top: -#{@pictograph.axis_margin_top}px;'>#{axis_num} ---</div></td>"
	        else
	          row.shift "<td class='picto-axis-label'><div style='font-size: #{@pictograph.axis_font_size}px; line-height: #{@pictograph.axis_line_height}px; margin-top: -#{@pictograph.axis_margin_top}px;'> --- #{axis_num}</div></td>"
	        end
	      end
	      out = "<tr>#{row.reverse.join()}</tr>".html_safe
				row = Array.new
			else
				out = nil
	    end
		%>
		<%= out if out %>
	<% end %>
  
  <tr class='bottom-row'>
		<% if @pictograph.axis_labels %>
			<% if @pictograph.axis_position == 'left' %>
	    	<td class='picto-axis-label'><div style='font-size: <%=@pictograph.axis_font_size%>px; line-height: <%=@pictograph.axis_line_height%>px; margin-top: -<%=@pictograph.bottom_axis_margin_top%>px;'>0 ---</div></td>
	    <% else %>
	      <td class='picto-axis-label'><div style='font-size: <%=@pictograph.axis_font_size%>px; line-height: <%=@pictograph.axis_line_height%>px; margin-top: -<%=@pictograph.bottom_axis_margin_top%>px;'> --- 0</div></td>
	    <% end %>
		<% end %>
		<td colspan='10' class='legend'>&nbsp;</td>
	</tr>
</table>

<%
  # if legend[:risk_text]
  #   legend_out = "<dl class=\"legend-wrapper\">"
  #   %w[risk reduced_risk incremental_risk off].each do |l|
  #     ltext = legend[(l + '_text').to_sym]
  #     limage = legend[(l + '_image').to_sym]
  #     if !ltext.blank?
  #       if @options['legend_risk_image'] or @options['legend_use_picto_images']
  #         full_limage = "/surveys/#{theme_name}/images/#{limage}"
  #       else 
  #         full_limage = "/images/#{limage}"
  #       end
  #       legend_out += "<dt class=\"legend-key\"><img src=\"#{full_limage}\" /></dt>"
  #       legend_out += "<dd class=\"legend\">#{ltext}</dd>"
  #     end
  #   end
  #   legend_out += "</dl>"
  #   out += legend_out
  # end
  # 
  # return out
%>

<div id="editor">
	<%= render 'form' %>
</div>

<br clear="left" />