<div style="background-color: <%=@pictograph.background_color%>;" class="<%='no-axis-labels' if !@pictograph.axis_labels%>">
	<% unless @pictograph.title.blank? %>
		<h3 style="text-align: <%=@pictograph.title_alignment%>;font-size: <%=@pictograph.title_font_size%>px;font-family: '<%=@pictograph.title_font%>'; width: <%=@pictograph.table_width%>px; margin-left: <%=@pictograph.axis_width + 30%>px;" id="pictograph-title"><%= @pictograph.title %></h3>
	<% end %>

	<%= render 'graph' %>
	<%= render 'legend' %>
	<br clear="left" />
</div>

<% if %[view link].include? controller.action_name %>
	<div class="actions preview-actions">
		<%=link_to image_tag('icons-edit-02.png', :alt => 'edit'), (advanced ? '/advanced?' : '/?') + request.query_string, {:title => 'edit this icon array'} %>
		<%=link_to image_tag('icons-link-03.png', :alt => 'save as link'), '#save-share', {:title => 'save a link to this icon array'} %> 
		<%=link_to image_tag('icons-embed.png', :alt => 'embed'), '#embed', {:title => 'embed this icon array in another website'} %>
		<div class="btn-group dropup">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="download this icon array as an image">
		    <%=image_tag('icons-download.png', :alt => 'download') %>
		  </a>
		  <ul class="dropdown-menu">
				<li><%=link_to image_tag("icons-web.png", :alt => 'save image for web'), '/pictographs/view.jpg?' + request.query_string, {:title => "download this icon array as an image optimized for use on the web"} %></li>
				<li><%=link_to image_tag("icons-print.png", :alt => 'save image for print'), '/pictographs/view.tif?' + request.query_string, {:title => "download this icon array as an image optimized for use in a print document"} %></li>
		  </ul>
		</div>
	</div>

	<div class="modal" id="save-share">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Save/Share this Icon Array</h3>
	  </div>
	  <div class="modal-body">
	  	<ul class="nav nav-tabs">
	  		<li class='active'><a href="#full-link" data-toggle="tab">Full URL</a></li>
	  		<li><a href="#short-link" data-toggle="tab">Short URL</a></li>
	  	</ul>
	  	<div class="tab-content">
	  		<div class="tab-pane" id="short-link">
	    		<p><%= @short_url %></p>
	    	</div>
	    	<div class="tab-pane" id="full-link">
	    		<p><%= @url %></p>
	    	</div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <a href="#" data-dismiss="modal" class="btn">Close</a>
	  </div>
	</div>

	<div class="modal" id="embed">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Embed this Icon Array</h3>
	  </div>
	  <div class="modal-body">
	  	<ul class="nav nav-tabs">
	  		<li class='active'><a href="#full-embed" data-toggle="tab">Full URL</a></li>
	  		<li><a href="#short-embed" data-toggle="tab">Short URL</a></li>
	  	</ul>
	  	<div class="tab-content">
	  		<div class="tab-pane" id="short-embed">
	    		<p><%= "<iframe src='#{@short_embed_url}' type='text/html' width='#{@pictograph.export_width}' height='#{@pictograph.export_height}' scrolling='no' frameborder='0'></iframe>" %></p>
	    	</div>
	    	<div class="tab-pane" id="full-embed">
	    		<p><%= "<iframe src='#{@embed_url}' type='text/html' width='#{@pictograph.export_width}' height='#{@pictograph.export_height}' scrolling='no' frameborder='0'></iframe>" %></p>
	    	</div>
	    </div>
	  </div>
	  <div class="modal-footer">
			<!-- <a href="#embed-code" class="zclip" data-copied-hint="copied!" data-copy-hint="copy to clipboard">Copy to Clipboard</a> -->
	  	<a href="#" data-dismiss="modal" class="btn">Close</a>
	  </div>
	</div>
<% end %>