<html>
<head>
  <title>Icon Array</title>
</head>
<body>
	<div class="tiff" style="width: <%=@pictograph.export_width%>px;">
	<% unless @pictograph.title.blank? %>
		<h3 style="text-align: <%=@pictograph.title_alignment%>;font-size: <%=@pictograph.title_font_size%>px;font-family: '<%=@pictograph.title_font%>'; width: <%=@pictograph.table_width%>px; margin-left: <%=@pictograph.axis_width + 25%>px;" id="pictograph-title"><%= @pictograph.title %></h3>
	<% end %>

	<%= render 'graph.html.erb' %>
	<%= render 'legend.html.erb' %>
	</div>
</body>
</html>