<% unless @pictograph.title.blank? %>
	<h3><%= @pictograph.title %></h3>
<% end %>

<%= render 'graph' %>

<div id="editor">
	<dl id="risk-legend">
		<% @pictograph.risks.each_with_index do |risk, i| %>
			<% unless risk.description.blank? %>
				<dt id="risky<%=i%>" style="width: <%=@pictograph.cell_width + 20%>px;">
					<div class="legend-icon" id="test<%=i%>" style="width: <%=@pictograph.cell_width%>px; height: <%=@pictograph.cell_height%>px; background-color: <%=risk.hex%>;" data-color="<%=risk.hex%>"></div>
				</dt>
				<dd id="frisky<%=i%>" style="width: <%=400 - (@pictograph.cell_width + 20)%>px;">
					<% if i > 0 %>
						<span id="#risks_<%=i%>_value" class="risk-val"><%= risk.value %></span>
					<% else%>
						<span id="#risks_<%=i%>_value" class="risk-val"><%= @pictograph.off_value %></span>
					<% end %>
						<%= risk.population %> <%= risk.description %>
				</dd>
			<% end %>
		<% end %>
	</dl>
</div>