<% i = @tab %>
<% hex = @pictograph.risks[0].hex %>
<% value = @pictograph.risks[0].value %>
<% description = @pictograph.risks[0].description %>
<% population = @pictograph.risks[0].population %>
<% display = @pictograph.risks[0].display %>
$("form div.tab-content").append("<%= escape_javascript render('/risks/new_form', :i => i, :hex => hex, :value => value, :description => description, :population => population) %>");
$('form ul li#new-risk').before("<li class='color-tab'><a href='#color<%=i%>' data-toggle='tab' data-color='<%=@pictograph.risks[0].hex%>'><% if !@pictograph.icon.blank? %><%=icon(@pictograph.icon, @pictograph.risks[0].hex)%><% else %><%=box(@pictograph.risks[0].hex, 15)%><% end %></a></li>");
var tab = $('li#new-risk a').attr('href');
var new_tab = tab.replace(/tab=\d+/, 'tab=<%=@tab.to_i + 1%>');
$('li#new-risk a').attr('href', new_tab);
$("a[href='#color<%=i%>']").click();
if ($('li.color-tab').length >= 5) {
	$('li#new-risk a').removeClass('disabled');
	$('li#new-risk a').addClass('disabled');
}